<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hnhy.epapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- //跳转安装界面 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".app.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <!-- android:resizeableActivity="true"添加多窗口支持 -->
        <activity android:name=".mvp.ui.activity.loader.ActivityLoaderDemo" />
        <activity android:name=".mvp.ui.activity.interact.ActivityReceiver">

            <!-- 允许其他应用启动 -->
            <intent-filter
                android:icon="@drawable/icon_empty"
                android:label="发送给我的App">
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.ActivityInteract" />
        <activity android:name=".mvp.ui.activity.ActivityFragmentDemo" />
        <activity android:name=".mvp.ui.activity.vpn.ActivityVpnDemo" />
        <activity android:name=".mvp.ui.activity.custom.ActivityCustomMap" />
        <activity android:name=".mvp.ui.activity.ActivityFunctionSelect" />
        <activity
            android:name=".mvp.ui.activity.noble.ActivityLoading"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 允许网页启动 -->
            <intent-filter>

                <!-- 必有项 -->
                <action android:name="android.intent.action.VIEW" />
                <!-- 表示该页面可以被隐式调用，必须加上该项 -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- BROWSABLE指定该Activity能被浏览器安全调用 -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 协议部分 -->
                <!-- 声明自定义scheme，类似于http, https -->
                <data
                    android:host="myapp"
                    android:scheme="guc" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".mvp.ui.activity.noble.ActivityGuide"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.noble.ActivityTest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.user.ActivityLogin"
            android:description="@string/str_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.user.ActivityModifyPwd"
            android:description="@string/str_title_modify_pwd"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.ui.activity.weather.ActivityCities" />
        <activity android:name=".mvp.ui.activity.weather.ActivityWeatherReport" />
        <activity android:name=".mvp.ui.activity.bluetooth.ActivityBluetoothDevices" />
        <activity android:name=".mvp.ui.activity.custom.ActivityCustomView" />

        <service
            android:name=".mvp.ui.activity.vpn.MyVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>

            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="false" />
        </service>
    </application>

</manifest>